@define-color primary #96d8ff;
@define-color background rgba(21, 18, 27, 0.8);

/* All Modules */
* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
  background: rgba(21, 18, 27, 0);
}

window#waybar {
  color: @primary;
}
tooltip {
  background: @background;
  border-radius: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: #11111b;
}
menu menuitem:hover {
  background-color: rgba(150, 216, 255, 0.1);
  border-color: @primary;
}

/* Workspaces */
#workspaces button {
  color: #313244;
}
#workspaces button.active {
  color: @primary;
}
#workspaces button:hover {
  background: #010116;
  color: #cdd6f4;
  border-color: @primary;
  border-radius: 10px;
}

#workspaces button.empty {
  color: #000;
}
